#table th {
    background-color: #009879;
    color: #ffffff;
    
}
#table th,td {
    padding: 12px 15px;
}
#table tr {
    border-bottom: 1px solid #dddddd;
}

#table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#table tr:last-of-type {
    border-bottom: 2px solid #009879;
}
#table tr.active-row {
    font-weight: bold;
    color: #009879;
}